nav {
  height: 75px;
  background-color: #f8df1f;
  padding-top: 1%;
}
nav :hover {
  color: #ee252f;
}
a {
  color: #080801;
}
h1 {
  color: #ee252f;
}
h2 {
  color: #080801;
}
footer {
  height: 100px;
  background-color: #080801;
}
