@import "variables";

nav {
  height: 75px;
  background-color: @yellow-primary;
  padding-top:1%;
}
nav :hover {
  color:@red-secondary;
}
a {
    color: @black-primary;
  }

h1 {
  color: @red-secondary;
}

h2 {
  color: @black-primary;
}

footer{
  height:100px;
  background-color: @black-primary;
}
